<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap" rel="stylesheet">

      <!-- Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div>
      <!-- sample Navbar: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="/">ISA</a>
          <a href="#" class="pull-left"><img src="/img/Logo.ISA.png"></a>

          <!-- Toggler/collapsible Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/projects">Projects</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/contactme">Contact me</a>
                  </li>
              </ul>
          </div>
      </nav>
      {{{body}}}
  </div>
  </body>
</html>
