<h3 align="center">{{title}}</h3>
<p align="center">{{content}}</p>
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://priceless-feynman-d57486.netlify.app/" target="_blank">
                    <img src="/images/meditation.jpg" alt="Meditation" style="width:100%">
                    <div class="caption">
                        <p>Meditation website built with JavaScript</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img class="img "src="/images/smartAuto1.jpeg" alt="Smart Auto - Car Dealership" style="width:100%">
                    <div class="caption">
                        <p>Smart Auto - Car Dealership built with Java.</p>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>